{{ block "Home" .}}
<!DOCTYPE html>
<html lang="fi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
        {{ template "Head" . }}
    </head>
    <body>
        <header>
            <h1>Budget tracker</h1>
        </header>
        <main id="main">
            <div>
                <h3>Saldo</h3>
                <h2 id="totalDispl">00.00€</h2>
            </div>

            <div>
                <form hx-post="/api/addNewTa" hx-target="#transDisp" hx-swap="beforeend">
                    <h3>Description:</h3>
                    <input name="transDesc" id="transDesc">
                    <h3>Amount:</h3>
                    <input name="transAm" id="transAm">
                    <br>
                    <br>
                    <button type="submit">Add Transaction</button>
                </form>
            </div>

            <div id="transDisp"
                 hx-post="/api/fetchAllTas"
                 hx-swap="innerHTML"
                 hx-trigger="load"
                 hx-on::after-request="if(event.detail.successful) calculateInitialSaldoSum()" >
            </div>
        </main>
    </body>
</html>
{{ end }}
